.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 20px 32px;
  border-bottom: solid var(--border-subtle) 1px;
  height: fit-content;
  height: 50px;
}
.navbar_left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: auto;
  margin: auto;
}
.hamburger {
  background: none;
  border: none;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--text-secondary);
}

.ham {
  display: none;
  height: 25px;
  width: 25px;
}
p {
  color: var(--accent-light);
  font-size: 18px;
  margin-bottom: 8px;
  font-family: "Robot", sans-serif;
  font-weight: 2px;
}
h1 {
  display: block;
  margin-block-start: 1rem;
  color: var(--text-primary);
  font-size: 35px;
  margin-top: 2px;
  margin-bottom: 18px;
}
.notification {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--text-secondary);
  height: 35px;
  width: 35px;
}
.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn {
  padding: 10px 15px;
}
.icon{

  background: none;
  border: none;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--text-primary);
  width: 50px;
  height: 50px;


}
.icn{
  position: relative;
  width: 150px;
  height: 150px;
  right: 60px;
}